[submodule "libedgetpu"]
  path = libedgetpu
  url = https://github.com/mwprado/libedgetpu
[submodule "test_data"]
  path = test_data
  url = https://github.com/mwprado/test_data
[submodule "libcoral"]
  path = libcoral
  url = https://github.com/mwprado/libcoral
